.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7bcff;
  height: 100vh;
  .wrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    // display: flex;
    // flex-direction: column;
    gap: 10px;
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .app-logo {
      margin: 0;
    }
    .form-header {
      text-align: center;
    }
    .form-title {
      color: gray;
      font-weight: bold;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7bcff;
  height: 100vh;
  .home-container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
  }
}
